body{
    background-color: rgb(240,250,252);
}
#head{
    background-image:url(../images/bg-title-blue.png);
    background-repeat: repeat;
    height: 220px;
    color: rgb(255,255,255);
}
#head-label{
    margin:60px 10px 0;
    float: right;
}
#head-label div{
    margin: 0 5px;
}
