body{

}
#head{
    background-image:url(../images/bg-title-blue.png);
    background-repeat: repeat;
    height: 220px;
    background-color: rgb(240,250,252);
    color: rgb(63,63,63);
    margin:0 0 20px  0 ;
}
#head-label{
    margin:40px 10px 0;
    float: right;
}
#head-label div{
    margin: 0 5px;
}
#person{
    background-color: rgb(245,245,245);
    font-size: 12px;
}
